*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('./assets/fonts/PTSans/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('./assets/fonts/PTSans/PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('./assets/fonts/PTSans/PTSans-Italic.ttf');
}

@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('./assets/fonts/PTSans/PTSans-BoldItalic.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'PTSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.m-auto {
  margin: auto;
}

.form {
  padding: 2rem 3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.is-v-centered {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-name,
.selected-event .card-header-title {
  font-family: 'PTSans-Bold';
  font-size: 1.5rem;
  margin-bottom: 0.2rem !important;
}

.event-time {
  font-family: 'PTSans-Italic';
}

.selected-event .card-footer button {
  border-radius: 0;
}